<html>
    <body>
        <div>
            <H1>
                <%=cardId%>   <%=summary%>
            </H1>
        </div>
        <div>
            <p><%=productId%></p>
            <p><%=cardType%></p>
        </div>
    </body>
</html>